{% extends "layout.html" %}

{% block content %}

<h4>Hakkımızda</h4>
<hr>

<p>
    
    Selam! Ben, Bandırma Onyedi Eylül Üniversitesi öğrencisi İlayda Özbek, MilBlog'un arkasındaki yazılım geliştiricisiyim.
    <br><br>
    <strong>MilBlog Nedir?</strong>
    <br>
    MilBlog, yazılım dünyasında yeni gelişmeleri paylaşmayı, deneyimlerimizi aktarmayı ve teknolojiyle ilgili ilginç konuları keşfetmeyi amaçlayan bir yazılım blogudur. Amacımız, yazılım dünyasındaki değişikliklere ayak uydurmak, deneyimlerimizi paylaşmak ve öğrenmeye açık bir topluluk oluşturmaktır.
    <br><br>
    <strong>Neler Yapıyoruz?</strong>
    <br>
    MilBlog üzerinde, yazılım geliştirme, programlama dilleri, web teknolojileri, yapay zeka, mobil uygulama geliştirme ve daha birçok konuda yazılar paylaşıyoruz. Kendi projelerimizi inşa ediyor, yeni teknolojileri deniyor ve bu deneyimlerimizi sizinle paylaşıyoruz.
    <br><br>
    <strong>Neden Yazıyoruz?</strong>
    <br>
    Teknoloji ve yazılım dünyası hızla değişiyor. Biz de bu değişimlere ayak uydurarak, bu alanda yeni olanakları keşfetmeye ve öğrenmeye çalışıyoruz. Yazılarımızla hem kendi öğrenme sürecimize katkıda bulunmayı hem de bu bilgileri paylaşarak topluluğa değer katmayı hedefliyoruz.
    <br><br>
    <strong>İletişim ve Katılım</strong>
    <br>
    MilBlog'u takip ederek yeni yazılarımızdan haberdar olabilir ve yazılarımıza yorum yaparak bizimle iletişime geçebilirsiniz. Ayrıca, siz de yazılım dünyasındaki deneyimlerinizi bizim
    <br><br>
    Teşekkür ederiz, MilBlog'u ziyaret ettiğiniz için!
</p>
{% endblock content %}